.form-login {
  margin: 0;
  height: 100%;
  width: 100%;
}
.form-input {
  height: 100vh;
}
.name-section {
  overflow: hidden;
  position: relative;
  margin-top: 10vh;
  input {
    height: 10vh;
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    padding-top: 6vh;
    &:focus ~ label span,
    &:valid ~ label span {
      transform: translateY(-2vh);
      font-size: 14px;
      color: #457b9d;
    }
    &:focus ~ label::after,
    &:valid ~ label::after {
      transform: translate(0);
    }
  }
  label {
    pointer-events: none;
    position: absolute;
    width: 100%;
    left: 0;
    transition: 0.4s ease-in-out;
    bottom: 0;
    &::after {
      transition: 0.8s ease-in-out;
      content: "";
      position: absolute;
      height: 100%;
      width: 100%;
      border-bottom: 3px solid #457b9d;
      left: 0;
      bottom: 0;
      transform: translateX(-100%);
    }
  }
  span {
    position: absolute;
    width: 100%;
    left: 0;
    transition: 0.4s ease-in-out;
    bottom: 1vh;
  }
}
#btn-cta {
  position: absolute;
  right: 45vw;
}
