#landing-body {
  overflow-x: hidden;
}
.category {
  display: flex;
  margin-top: 10vh;
  img {
    margin-left: 2vw;
  }
}
.cards-wrapper {
  margin-top: 5vh;
  width: 80vw;
  height: 60vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.card {
  height: 100%;
  width: 100%;
  background: red;
  margin-right: 10vw;
  border: 5px solid white;
}
.dots {
  @include flex;
  width: 5vw;
  margin: auto;
  margin-top: 5vh;
  img {
    height: 2vh;
  }
}
.footer {
  height: 10vh;
  background-color: #e5e5e5;
}
