@mixin flex {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

@import "landing-page";
@import "about-page";
@import "login";
@import "sign-up";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
body {
  font-family: "Montserrat", sans-serif;
}

// About.html Styles
